@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
}
:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}
body{
    padding: 0;
    margin: 0;

    background-color: var(--primary-color);
}

body h1{
    font-size: 2rem;
}

body p{
    font-size: 1.5rem;
}
.container{
    width: 37.5rem;
    
    background-color: white;

    padding: 1.25rem;
    margin: auto;
    margin-top: 3rem;

    border-radius: 2%;

    box-shadow: 0.1rem 0.1rem black;
}

.calculadora{
    width: 400px;
}

.display{
    font-size: 2em;

    width: 100%;
    text-align: right;
}

.btn{
    font-size: 1em;

    width: 100%;
    height: 50px;

    border: none;
    background: #dfdfdf;

    cursor: pointer;
}

.btn:hover{
    background-color: #9e9898;
}

.btn-eq:hover{
    background-color: rgb(22, 84, 218);
}

.btn-clear:hover{
    background-color: rgba(252, 169, 16, 0.842);
}

.btn-del:hover{
    background-color: red;
}